@import 'normalize-scss';
@include normalize();

.App {
  text-align: center;

  .map_container {
    width: 100vw;
    height: 50vw;
    position: relative;
  }

  .Map {
    width: 100vw;
    height: 50vw;
    position: absolute;
    left: 0;
  }

  ._Markers {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50vw;
    pointer-events: none;

    .clicked {
      fill: red;
      animation: marker-appears 0.6s;
      animation-fill-mode: forwards;
    }
    .actual  {
      fill: cyan;
      animation: marker-appears 0.6s;
      animation-fill-mode: forwards;
    }
    line {
      stroke: red;
      stroke-dasharray: 5 3;
      animation: line-appears 0.6s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes marker-appears {
  0% {
    r: 0px;
  }

  50% {
    r: 12px;
  }

  100% {
    r: 8px;
  }
}

@keyframes line-appears {
  0% {
    stroke-width: 0px;
  }

  50% {
    stroke-width: 5px;
  }

  100% {
    stroke-width: 4px;
  }
}
