@import 'normalize-scss';
@include normalize();

.App {
  text-align: center;

  header {
    font-size: 64px;
  }

  .Map {
    width: 100vw;
    position: relative;
  }

  .map_container {
    width: 100vw;
    position: relative;
  }

  .Marker {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    pointer-events: none;

    &.clicked {
      background-color: red;
    }
    &.actual {
      background-color: cyan;
    }
  }
}
