@import 'normalize-scss';
@include normalize();

.App {
  text-align: center;

  header {
    font-size: 64px;
  }

  .map_container {
    width: 100vw;
    height: 50vw;
    position: relative;
  }

  .Map {
    width: 100vw;
    height: 50vw;
    position: absolute;
    left: 0;
  }

  ._Markers {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 50vw;
    pointer-events: none;

    .clicked {
      fill: red;
    }
    .actual  {
      fill: cyan;
    }
    line {
      stroke: red;
      stroke-width: 4px;
      stroke-dasharray: 4 1;
    }
  }
}
